/*
 * Layout design from https://github.com/unixporn/unixporn.github.io/
 *
 * Colors from http://ethanschoonover.com/solarized
 */

:root {
    --bg:      #002b36;
    --bg-em:   #073642;

    --fg:      #839496;
    --fg-em:   #93a1a1;
    --fg-sec:  #586e75;

    --yellow:  #b58900;
    --orange:  #cb4b16;
    --red:     #dc322f;
    --magenta: #d33682;
    --violet:  #6c71c4;
    --blue:    #268bd2;
    --cyan:    #2aa198;
    --green:   #859900;
}




/*
 * Page structure
 */

html, body {
    margin: 0;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    width: 62.5%;
}

#center {
    flex: 1;
}




/*
 * Text-level tags
 */

h1, h2 {
    line-height: 1.2;
}

h1 {
    color: var(--orange);
    font-size: 50px;
}

h2 {
    color: var(--green);
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    height: 45px;
    line-height: 1.4;
}

ul li .proj {
    background-color: var(--bg-em);
    border: 1px solid var(--fg-sec);
    display: inline-block;
    margin-right: 10px;
    padding: 4px;
    text-align: center;
    width: 130px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--yellow);
}

#copyright {
    color: var(--fg-sec);
    text-align: right;
}